<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Теплоизоляция</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="frame">
        <img style="width: 440px; height: 978px; left: 0px; top: -22px; position: absolute" src="https://placehold.co/440x978" />
        <div class="background"></div>
        <div class="bottom_line"></div>
        <div class="buttons active" style="width: 80px; height: 80px; left: 32px; top: 859px;"></div>
        <div class="buttons" style="width: 80px; height: 80px; left: 180px; top: 859px;"></div>
        <div class="buttons" style="width: 80px; height: 80px; left: 328px; top: 859px;"></div>
        <div class="button_text text_feed">Лента</div>
        <div class="button_text text_add">Новое</div>
        <div class="button_text text_list">Плитка</div>
        <img style="width: 30px; height: 30px; left: 206px; top: 869px; position: absolute" src="https://placehold.co/30x30" />
        <img style="width: 30px; height: 30px; left: 57px; top: 869px; position: absolute" src="https://placehold.co/30x30" />
        <img style="width: 30px; height: 30px; left: 353px; top: 869px; position: absolute" src="https://placehold.co/30x30" />
        <img style="width: 50px; height: 50px; left: 359px; top: 610px; position: absolute" src="https://placehold.co/50x50" />
        <div class="side_text likes">123</div>
        <div class="side_text coefficient">38 мВт/(м·°C)</div>
        <div class="side_text price">2245 руб.</div>
        <div class="side_text next">Дальше</div>
        <img style="width: 50px; height: 50px; left: 359px; top: 695px; position: absolute" src="https://placehold.co/50x50" />
        <img style="width: 50px; height: 50px; left: 359px; top: 525px; position: absolute" src="https://placehold.co/50x50" />
        <img style="width: 50px; height: 50px; left: 359px; top: 440px; position: absolute" src="https://placehold.co/50x50" />
        <div class="description">Плиты теплоизоляционные из каменной ваты. Теплоизоляционный слой в фасадных системах утепления с воздушным зазором...</div>
        <div class="side_text more">Больше</div>
    </div>
</body>
</html>