<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Теплоизоляция</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="dark_bg"></div>
    <div class="bottom_line"></div>

    <a class="buttons active" style="left: 32px; top: 859px;" href="/"></a>
    <img class="size_30" style="left: 57px; top: 869px" src="https://cdn-icons-png.flaticon.com/512/6398/6398532.png"  alt="Лента">
    <div class="button_text text_feed">Лента</div>
    <a class="buttons" style="left: 180px; top: 859px;" href="/add"></a>
    <img class="size_30" style="left: 206px; top: 869px" src="https://cdn-icons-png.flaticon.com/512/12194/12194587.png"  alt="Новое">
    <div class="button_text text_add">Новое</div>
    <a class="buttons" style="left: 328px; top: 859px;" href="/list"></a>
    <img class="size_30" style="left: 353px; top: 869px" src="https://cdn-icons-png.flaticon.com/512/5880/5880909.png"  alt="Плитка">
    <div class="button_text text_list">Плитка</div>

    <div class="label" style="left: 29px; top: 54px">Поиск по коэффициенту</div>
    <input class="input_field" style="width: 224px; height: 48px; left: 17px; top: 89px" type="text" placeholder="Укажите коэффициент...">

    <div style="width: 168px; height: 48px; left: 254px; top: 89px; position: absolute; background: #C4FF5C; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px"></div>
    <img style="width: 30px; height: 30px; left: 325px; top: 98px; position: absolute" src="https://cdn-icons-png.flaticon.com/512/751/751463.png" alt="">

    <div class="flex">
        <div class="card">
            <div class="card_title">Rockwool ОПТИМА</div>
            <img class="card_image" src="http://localhost:9000/media/1.png"  alt="">
            <div class="card_text" style="top: 193px">Коэффициент: 36 мВт/м°C</div>
            <div class="card_text" style="top: 215px">Цена: 2500 руб.</div>
        </div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </div>

    <div style="width: 195px; height: 250px; left: 227px; top: 154px; position: absolute; background: #1F2F1D; border-radius: 10px; border: 1px #A3FF12 solid"></div>
    <div style="left: 242px; top: 305px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">ТеплоKnauf Коттедж</div>
    <img style="width: 158px; height: 123px; left: 246px; top: 171px; position: absolute; border-radius: 5px" src="https://placehold.co/158x123" />
    <div style="left: 241px; top: 347px; position: absolute; color: #9AA5B3; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Коэффициент: 36 мВт/м°C</div>
    <div style="left: 241px; top: 369px; position: absolute; color: #9AA5B3; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Цена: 2239 руб.</div>

    <div style="width: 195px; height: 250px; left: 17px; top: 430px; position: absolute; background: #1F2F1D; border-radius: 10px; border: 1px #A3FF12 solid"></div>
    <div style="left: 32px; top: 580px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">DiROCK Аляска/</div>
    <img style="width: 158px; height: 123px; left: 36px; top: 446px; position: absolute; border-radius: 5px" src="https://placehold.co/158x123" />
    <div style="left: 31px; top: 622px; position: absolute; color: #9AA5B3; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Коэффициент: 36 мВт/м°C</div>
    <div style="left: 31px; top: 644px; position: absolute; color: #9AA5B3; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Цена: 790 руб.</div>

    <div style="width: 195px; height: 250px; left: 227px; top: 429px; position: absolute; background: #1F2F1D; border-radius: 10px; border: 1px #A3FF12 solid"></div>
    <div style="left: 242px; top: 580px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Технониколь Роклайт</div>
    <img style="width: 158px; height: 123px; left: 246px; top: 446px; position: absolute; border-radius: 5px" src="https://placehold.co/158x123" />
    <div style="left: 241px; top: 622px; position: absolute; color: #9AA5B3; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Коэффициент: 36 мВт/м°C</div>
    <div style="left: 241px; top: 644px; position: absolute; color: #9AA5B3; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Цена: 1120 руб.</div>

</body>
</html>